@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}



/* ---------------------- *\
    TYPOGRAPHY
\* ---------------------- */

.headline-1,
.headline-2 {
    @apply max-w-max;
    background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline-1 {
    @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15]
}

.headline-2 {
    @apply text-3xl lg:text-4xl lg:leading-tight font-semibold
}

.title-1 {
    @apply text-[22px] font-normal
}


/* ---------------------- *\
    UTILITIES
\* ---------------------- */
.container {
    @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.img-box {
    @apply bg-zinc-700 overflow-hidden;
}

.img-cover {
    @apply w-full h-full object-cover;
}

.section {
    @apply pt-20 lg:pt-32
}

.reveal-up {
    @apply translate-y-20 opacity-0
}


/* ---------------------- *\
    COMPONENTS
\* ---------------------- */
.btn .material-symbol-rounded {
    @apply text-[18px]
}

.btn:has(.material-symbol-rounded) {
    @apply pr-3
}

.btn-primary {
    @apply h-11 bg-emerald-200 text-zinc-950 hover:bg-emerald-300 rounded-xl flex items-center p-3 active:bg-emerald-200
}

.btn-outline {
    @apply h-11 bg-zinc-800 dark:bg-slate-200 dark:hover:bg-slate-300 hover:bg-zinc-700 active:bg-zinc-800 flex items-center rounded-xl p-3
}



/* Text Field */

.label {
    @apply block text-zinc-200 dark:text-black text-sm font-normal mb-2
}

.text-field {
    @apply block outline-none w-full px-3 py-3 text-sm bg-zinc-800 dark:bg-slate-300 rounded-xl ring-1 ring-inset ring-transparent transition-shadow hover:ring-zinc-50/5 focus:ring-emerald-300 focus:ring-2
}

.text-field::placeholder {
    @apply text-zinc-400 dark:text-slate-400
}